<div class="contents row">
  <div class="col s12">
    <h4 class="col s8 offset-s2">Sign Up</h4>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="input-field col s8 offset-s2">
        <%= f.label :nickname %><br />
        <%= f.text_field :nickname, autofocus: true, maxlength: "6" %>
      </div>


      <div class="input-field col s8 offset-s2">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>


      <div class="input-field col s8 offset-s2">
        <%= f.label :password %>
        <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="input-field col s8 offset-s2">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

        <a class="waves-effect waves-light btn orange lighten-1 col s2 offset-s2">
          <%= f.submit "Sign up" %>
        </a>
      </div>
    <% end %>
  </div>
